<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flooddatabase</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>body{
        background-color:#5286F3;
        font-size:14px;
        color:#fff;
    }
    .simple-login-container{
        width:300px;
        max-width:100%;
        margin:50px auto;
    }
    .simple-login-container h2{
        text-align:center;
        font-size:20px;
    }
    
    .simple-login-container .btn-login{
        background-color:#FF5964;
        color:#fff;
    }
    a{
        color:#fff;
    }</style>
</head>
<body>
    
    <!-- Header -->
        <header id="header">
            <nav>
                <div class="container">
                    <div class="text-center">
                        <font color="white" ><h2> Flood Explorer Database Management </h2> </font> 
                    </div>
                </div>
            </nav>
        </header>


 
<!------ Include the above in your HEAD tag ---------->

<div class="simple-login-container">
    <h2>Register Form</h2>
    <form action="/register" method ="POST"> 
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="username" required name="username">
        </div>
        <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="Email" required name="email">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="password" placeholder="Password" required name="password" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="password" placeholder="confirm Password" required name="confirmpassword" class="form-control">
        </div>
    </div>
    <div class="row"> 
        <div class="col-md-12 form-group"> 
    <button class="btn btn-block btn-login" type="submit">Register</button></div></div>
    
</form>
</div>

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->